# Python / virtual environments
venv/
.env
*.pyc
__pycache__/
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Data (we don't commit raw or processed data to git)
data/raw/*.csv
!data/raw/processed/telco_churn_uplift_ready.csv
!data/raw/processed/telco_churn_clean_v2.csv
!data/raw/.gitkeep
!data/processed/.gitkeep

# Windows / macOS junk
.DS_Store
Thumbs.db
desktop.ini

# Editors / IDEs
.vscode/
.idea/
*.sublime-workspace

.ipynb_checkpoints/
